name: Pull Request

on:
  pull_request:

jobs:
  release:
    name: Pull Request
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 12.x
        registry-url: 'https://registry.npmjs.org'
    - name: Install dependencies
      run: yarn install --immutable
    - name: Lint
      run: yarn lint && yarn prettier
    - name: Test
      run: yarn test
