name: Test Integration

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  SOLANA_VERSION: 1.8.5
  RUST_TOOLCHAIN: stable

jobs:
  release:
    name: Test Integration
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.17.0
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: yarn install --immutable
      - name: Lint
        run: yarn lint && yarn prettier

      - name: Install Solana
        uses: ./.github/actions/install-solana
        with:
          solana_version: ${{ env.SOLANA_VERSION }}

      - name: Install Rust
        uses: ./.github/actions/install-rust
        with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}

      - name: Test
        run: yarn test:all
